.avatar {
	$avatar-border: 2px;
	$avatar-size: 30px;
	$avatar-size-with-border: $avatar-size + $avatar-border*2;

	@include border-radius(50%);
	background: $color-secondary-border;
	border: $avatar-border solid $color-secondary-border;
	height: $avatar-size-with-border;
	overflow: hidden;
	position: relative;
	width: $avatar-size-with-border;

	img {
		position: absolute;
		top: 0;
		left: 0;
		max-width: $avatar-size;
		min-width: $avatar-size;
		min-height: $avatar-size;
	}
}

.header {
	@include font-size(20px);
	border-bottom: $border-size solid $color-secondary-border;
	height: 55px;
	padding: 0 $margin 5px;
	
	.fa {
		@include font-size($font-medium);
		cursor: pointer;
	}
}

.search {

	input {
		@include border-radius(18px);
		@include font-size($font-base);
		background: $color-secondary-box-bg;
		border: $border-size solid $color-secondary-border;
		color: $color-secondary-text;
		height: 30px;
		margin-left: $margin;
		width: 240px;
		padding: 5px 40px 5px 10px;
	}

	button {
		border: none;
		background: none;
		color: $color-secondary-text;
		position: relative;
		left: -50px;
	}
}

.user-container > div:not(.user) { margin-right: $margin; }

.user {
	cursor: pointer;
	font-weight: bold;

	.fa {
		margin-right: 0;
		color: $color-secondary-text-dim;
	}

	.username {
		margin: auto 5px;
	}
}