// For items that span multiple sections (such as the bgs for nav, content, and widgets).

main, .main-nav, .widgets {
	@include border-radius($border-radius);
	background: $color-primary-bg;
	border: $border-size solid $color-primary-border;
}

.main-nav, .widgets {
	width: 240px;
}

header, footer {
	background: $color-secondary-bg;
	color: $color-secondary-text;
}