
.fa:first-child {
	#news & { color: #CEC8A8; }
	#my-stuff & { color: #DA6464; }
	#pets & { color: #9981CF; }
	#shops & { color: #5EADB5; }
	#community & { color: #90C286; }
	#world & { color: #52BFC2; }
	#games & { color: #F0C063; }
	#staff & { color: #789FBD; }
}

.main-nav {
	> * { margin: $padding; }

	.card {
		margin: 0;
		border: 0;
	}

	.card-header {
		padding: $padding $padding $padding / 4;
		background: none;
		border: 0;

		a {
			@extend h2;
			display: block;
			color: $color-primary-text;
			text-decoration: none;
		}
	}

	.card-block {
		$submenu-padding: 5px;

		padding: $submenu-padding 0;
		background: $color-primary-box-bg;
		border-top: $border-size solid $color-primary-border;
		border-bottom: $border-size solid $color-primary-border;

		li a {
			@include font-size($font-base);
			display: block;
			padding: $submenu-padding 0 $submenu-padding 60px;
			color: $color-primary-text-dim;
			text-decoration: none;
		}
	}

	.fa:last-child { color: $color-primary-border; }
}
