/acitius/node_modules
/acitius/public/storage
/acitius/public/hot
/acitius/storage/*.key
/acitius/vendor

/.idea/
/data/
.env

Homestead.json
Homestead.yaml
.DS_Store
Thumbs.db
*.sublime-project
*.sublime-workspace
.project
/nbproject
_ide_helper.php
composer.phar
error.log
Todo.rtf
.vagrant