// For general items.

@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css');

html,
body {
	width: 100%;
	height: 100%;
	font-size: 100%;
	line-height: normal;
}

body {
	font-family: $font-stack;
	color: $color-primary-text;
	background: $color-bg url('/images/daytime.jpg') repeat-x;
}

a {
	color: $color-accent;
	transition: color $speed;
}

button {
	font-size: $font-base;
	cursor: pointer;
	background: $color-accent;
	border: 0;
}

h1, h2, h3 {
	padding: 0;
	margin: 0;
	font-family: $font-header-stack;
}

h1 {
	@include font-size($font-logo-small);
	display: inline;
	color: $color-accent;
}

h2 {
	@include font-size($font-large);
}

h3 {
	@include font-size($font-medium);
}

i.icon {
	height: auto;
}

nav {
	& ul {
		list-style: none;
	}

	& ul,
	& li {
		padding: 0;
		margin: 0;
		border: 0;
	}
}

// TODO: convert to less so I don't have to do this atrocity with semantic ui:
.ui.primary.buttons .button,
.ui.primary.button {
	color: #FFFFFF;
	text-shadow: none;
	background-color: $color-accent;
	background-image: none;
}

.ui.primary.buttons .button:hover,
.ui.primary.button:hover {
	color: #FFFFFF;
	text-shadow: none;
	background-color: $color-accent;
}

.ui.primary.buttons .button:focus,
.ui.primary.button:focus {
	color: #FFFFFF;
	text-shadow: none;
	background-color: $color-accent;
}

.ui.primary.buttons .button:active,
.ui.primary.button:active {
	color: #FFFFFF;
	text-shadow: none;
	background-color: $color-accent;
}

.ui.primary.buttons .active.button,
.ui.primary.buttons .active.button:active,
.ui.primary.active.button,
.ui.primary.button .active.button:active {
	color: #FFFFFF;
	text-shadow: none;
	background-color: $color-accent;
}

.ui.primary.labels .label,
.ui.primary.label {
	color: #FFFFFF !important;
	background-color: $color-accent !important;
	border-color: $color-accent !important;
}