// General variables used throughout the css.

// COLORS
// ----------------------------
$color-accent: #13C2D7;
$color-accent-dim: rgba($color-accent, 0.2);
$color-bg: #8DC4D8;

// Primary: Nav, content, and widgets
$color-primary-bg: #FFF;
$color-primary-border: #D8DFE1;
$color-primary-border-dim: #EAEEEF;

// Boxes inside primary, such as the chat or sub-nav
$color-primary-box-bg: #FAFBFB;
$color-primary-box-bg-dark: #F1F1F1;

$color-primary-text: #40484E;
$color-primary-text-dim: #B5C0C3;

// Secondary: Header and footer
$color-secondary-bg: #303131;
$color-secondary-border: #3f4545;
$color-secondary-border-dim: #323636;

// Boxes inside secondary, such as the search
$color-secondary-box-bg: #46494A;
$color-secondary-box-bg-dark: #3C3F40;

$color-secondary-text: #E7EBEC;
$color-secondary-text-dim: #B5C0C3;


// FONT
// ----------------------------
$font-stack: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
$font-header-stack: 'Fredoka One', Impact, sans-serif;

$font-xlarge: 26px;
$font-large: 23px;
$font-medium: 20px;
$font-base: 18px;
$font-small: 14px;
$font-xsmall: 12px;

$font-logo-large: 92px;
$font-logo-small: 48px;


// GENERAL LAYOUT
// ----------------------------
$speed: 0.3s;
$speed-slow: 0.5s;

$border-radius: 5px;
$border-size: 1px;

$margin: 1em;
$margin-min: 5px;
$padding: 1em;
$padding-min: 5px;

$header-height: 55px;

$breakpoints: (
	mobile:	320px,
	tablet:	768px,
	computer:	992px,
	large:	1200px,
	widescreen: 1920px
);
