.widgets {
  .ad { margin: auto; }
}

.widget {
  margin-bottom: $spacing;

  .card-block,
  .form-control {
    padding: .5rem;
  }

  h2 {
    display: flex;
    align-items: center;
    margin-bottom: $spacing / 4;

    > i { color: $color-accent; }
    i:not(:last-child) { margin-right: 5px; }
  }
}

.widget-actions {
  @include font-size(17px);
  display: flex;
  align-items: baseline;
  flex: auto;
  justify-content: flex-end;
  color: $color-primary-text-dim;

  * {
    cursor: pointer;
    transition: color $speed ease;

    &:hover { color: $color-primary-text; }
  }

  *:not(:first-child) { margin-left: $spacing / 4; }

  .minimize { @include font-size($font-large); line-height: 0; }
  .exit { @include font-size($font-medium); }
}
