.widgets {
  .ad { margin: auto; }
}

.widget {
  margin-bottom: $spacing;

  .card-block,
  .form-control {
    padding: .5rem;
  }

  h2 {
    display: flex;
    align-items: center;
    margin-bottom: $spacing / 4;
  }

  > * {
    > i:first-child {
      margin-right: 5px;
      color: $color-accent;
    }

    > i:last-child {
      @include font-size(17px);
      flex: auto;
      color: $color-primary-text-dim;
      text-align: right;

      &::before { cursor: pointer; }
    }
  }
}
