.ad {
	background: $color-primary-box-bg;
	border: 1px solid $color-primary-border;
	border-radius: $border-radius;

	header &,
	footer & {
		background: $color-secondary-box-bg;
		border-color: $color-secondary-border;
	}
}

.ad-leaderboard {
	width: 728px;
	height: 90px;

}

.ad-small-rectangle {
	width: 180px;
	height: 150px;

}

.ad-small-square {
	width: 200px;
	height: 200px;
}
