.avatar {
	$avatar-border: 2px;
	$avatar-size: 30px;
	$avatar-size-with-border: $avatar-size + $avatar-border * 2;

	position: relative;
	width: $avatar-size-with-border;
	height: $avatar-size-with-border;
	overflow: hidden;
	background: $color-secondary-border;
	border: $avatar-border solid $color-secondary-border;
	border-radius: 50%;
	transition: border-color $speed;

	img {
		position: absolute;
		top: 0;
		left: 0;
		max-width: $avatar-size;
		min-width: $avatar-size;
		min-height: $avatar-size;
	}
}

.currency {
	@include font-size($font-small);
	line-height: $font-small;

	td { text-align: right; }

	tr > td:last-child {
		padding-left: 5px;
		font-family: $font-header-stack;
		text-align: center;
	}

	a {
		color: $color-secondary-text;
		&:focus, &:hover { color: $color-accent; text-decoration: none; }
	}
}

.header {
	@include font-size($font-medium);
	height: 55px;
	border-bottom: $border-size solid $color-secondary-border;

	.fa {
		@include font-size($font-large);
		cursor: pointer;
		transition: color $speed;
	}

	div:focus > .fa, div:hover > .fa { color: $color-accent; }
}

.header-banner {
	height: 150px;
	background: url('../images/nighttime.jpg') repeat;
}

.logo a {
	@extend %sweep-up-animation;

	&:hover {
		@extend %sweep-up-animation-hover;
		color: unset;
		text-decoration: none;
	}
}

.logo-container,
.user-container,
.user-container > div {
	display: flex;
	align-items: center;
	flex-direction: row;
}

.search {
	position: relative;

	input {
		@include font-size($font-base);
		width: 230px;
		height: 30px;
		padding: 5px 40px 5px 10px;
		margin-left: $margin;
		color: $color-secondary-text;
		background: $color-secondary-box-bg;
		border: $border-size solid $color-secondary-border;
		border-radius: 18px;
	}

	button {
		position: absolute;
		top: 3px;
		left: 205px;
		color: $color-secondary-text;
		background: none;
		border: 0;
	}
}

.toggle-nav .fa {
	@include font-size(36px);
	margin-right: 20px;
}

.user-container {
	justify-content: flex-end;

	> div {
		@extend %sweep-up-animation;
		height: 100%;

		&:focus, &:hover {
			@extend %sweep-up-animation-hover;

			a {
				color: $color-accent !important;
				transition: color $speed;
			}
		}
	}

	> div:not(.user), > table { margin-right: $margin; }

	> .icon {
		position: relative;
		width: 45px;
		text-align: center;
		cursor: pointer;

		.fa { @include font-size($font-xlarge); }

		.badge {
			@include font-size($font-xsmall);
			position: absolute;
			top: 6px;
			left: 18px;
		}
	}
}

.user {
	position: relative;
	font-weight: bold;
	cursor: pointer;

	.fa {
		margin-right: 0;
		color: $color-secondary-text-dim !important;
	}

	.username {
		margin: auto 5px;
		transition: color $speed;
	}

	&:focus, &:hover {
		.avatar { border-color: $color-secondary-text; }
		.username { color: $color-accent; }
	}
}
