// For items that span multiple sections (such as the bgs for nav, content, and widgets).

main,
.main-nav,
.widgets {
	background: $color-primary-bg;
	border: $border-size solid $color-primary-border;
	border-radius: $border-radius;
}

.main-nav,
.widgets {
	width: 240px;
}

header,
footer {
	color: $color-secondary-text;
	background: $color-secondary-bg;
}
