@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Fredoka+One);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
html, body, div, span, applet, object, iframe,
h1, h2, .menu-item a, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  height: 100%;
  width: 100%; }

body {
  background: #8DC4D8 url("../images/daytime.jpg") repeat-x;
  color: #40484E;
  font-family: "Open Sans", sans-serif;
  font-size: 100%; }

a {
  color: #13C2D7; }

button {
  background: #13C2D7;
  border: none;
  cursor: pointer;
  font-size: 18px; }

h1, h2, .menu-item a, h3 {
  font-family: "Fredoka One", "Century Gothic", sans-serif; }

h1 {
  font-size: 48px;
  font-size: 3rem;
  color: #13C2D7;
  display: inline; }

h2, .menu-item a {
  font-size: 26px;
  font-size: 1.625rem; }

h3 {
  font-size: 22px;
  font-size: 1.375rem; }

.main-container {
  display: flex;
  flex-direction: row;
  margin: auto;
  padding: 20px;
  max-width: 1520px; }

main, .main-nav, .widgets {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: #FFFFFF;
  border: 1px solid #D8DFE1; }

.main-nav, .widgets {
  flex: none;
  width: 240px; }

header, footer {
  background: #303131;
  color: #E7EBEC;
  display: flex;
  flex-direction: row; }

.header, .footer {
  flex: auto;
  margin: auto;
  max-width: 1520px; }

header {
  background: #5BB5C0; }

.header {
  background: #303131; }

.avatar {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background: #3f4545;
  border: 2px solid #3f4545;
  height: 30px;
  overflow: hidden;
  position: relative;
  width: 30px; }
  .avatar img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 30px;
    min-width: 30px;
    min-height: 30px; }

.header, .logo-container {
  align-items: center;
  display: flex;
  flex-direction: row; }

.header {
  font-size: 20px;
  font-size: 1.25rem;
  border-bottom: 1px solid #3f4545;
  height: 55px;
  padding: 0 20px 5px; }
  .header > * {
    flex: auto; }
  .header .fa {
    font-size: 22px;
    font-size: 1.375rem;
    cursor: pointer; }

.search {
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  border-radius: 18px;
  background: #46494A;
  border: 1px solid #3f4545;
  height: 30px;
  margin-left: 20px;
  max-width: 240px;
  padding: 5px 10px; }
  .search input, .search button {
    border: none;
    background: none;
    color: #E7EBEC; }
    .search input:focus, .search button:focus {
      outline: none; }
  .search button {
    width: 30px; }
  .search input {
    font-size: 18px;
    font-size: 1.125rem;
    width: 200px; }

.user-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end; }
  .user-container .fa {
    margin-right: 20px; }

.user {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-weight: bold; }
  .user .fa {
    margin-right: 0;
    color: #BEC6C8; }
  .user .username {
    margin: auto 5px; }

.news .fa {
  color: #CEC8A8; }

.my-stuff .fa {
  color: #DA6464; }

.pets .fa {
  color: #9981CF; }

.shops .fa {
  color: #5EADB5; }

.community .fa {
  color: #90C286; }

.world .fa {
  color: #52BFC2; }

.games .fa {
  color: #F0C063; }

.staff .fa {
  color: #789FBD; }

.main-nav {
  margin-right: 20px; }
  .main-nav > *:not(.menu) {
    margin: 20px; }

.menu > li > *:not(ul) {
  display: block;
  padding: 20px 20px 5px; }

.menu-grp h2, .menu-grp .menu-item a, .menu-item .menu-grp a {
  cursor: pointer; }

.menu-item a {
  color: #40484E;
  text-decoration: none; }

.submenu {
  background: #FAFBFB;
  border-top: 1px solid #D8DFE1;
  border-bottom: 1px solid #D8DFE1;
  padding: 5px 0; }
  .submenu li a {
    font-size: 18px;
    font-size: 1.125rem;
    color: #767F86;
    display: block;
    padding: 5px 0 5px 60px;
    text-decoration: none; }

main {
  flex: auto;
  padding: 20px; }

.widgets {
  margin-left: 20px;
  padding: 20px; }
  .widgets .fa {
    color: #13C2D7; }
  .widgets .ad {
    margin: auto; }

footer {
  border-top: 1px solid #3f4545;
  text-align: center;
  padding: 20px 20px; }
  footer .ad {
    margin: auto; }

.footer-nav li {
  display: inline-block;
  margin: 20px 30px; }

.footer-nav a {
  text-decoration: none; }

.ad {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: #FAFBFB;
  border: 1px solid #D8DFE1; }
  header .ad, footer .ad {
    background: #46494A;
    border-color: #3f4545; }

.ad-leaderboard {
  width: 728px;
  height: 90px; }

.ad-small-rectangle {
  width: 180px;
  height: 150px; }

.ad-small-square {
  width: 200px;
  height: 200px; }
