@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Fredoka+One);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
html, body {
  height: 100%;
  width: 100%;
  font-size: 100%; }

body {
  background: #8DC4D8 url("../images/daytime.jpg") repeat-x;
  color: #40484E;
  font-family: "Open Sans", sans-serif; }

a {
  color: #13C2D7;
  outline: none; }

button {
  background: #13C2D7;
  border: none;
  cursor: pointer;
  font-size: 18px; }

h1, h2, .main-nav .card-header a, h3 {
  font-family: "Fredoka One", "Century Gothic", sans-serif;
  margin: 0;
  padding: 0; }

h1 {
  font-size: 48px;
  font-size: 3rem;
  color: #13C2D7;
  display: inline; }

h2, .main-nav .card-header a {
  font-size: 26px;
  font-size: 1.625rem; }

h3 {
  font-size: 22px;
  font-size: 1.375rem; }

nav ul {
  list-style: none; }

nav ul, nav li {
  margin: 0;
  padding: 0;
  border: 0; }

.badge-primary {
  background: #13C2D7;
  color: #40484E; }

main, .main-nav, .widgets {
  background: #FFFFFF;
  border: 1px solid #D8DFE1;
  border-radius: 5px; }

.main-nav, .widgets {
  width: 240px; }

header, footer {
  background: #303131;
  color: #E7EBEC; }

.avatar {
  background: #3f4545;
  border: 2px solid #3f4545;
  border-radius: 50%;
  height: 34px;
  overflow: hidden;
  position: relative;
  width: 34px; }
  .avatar img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 30px;
    min-width: 30px;
    min-height: 30px; }

.currency {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 14px; }
  .currency td {
    text-align: right; }
  .currency tr > td:last-child {
    font-family: "Fredoka One", "Century Gothic", sans-serif;
    padding-left: 5px;
    text-align: center; }

.header {
  font-size: 20px;
  font-size: 1.25rem;
  border-bottom: 1px solid #3f4545;
  height: 55px;
  padding: 0 20px 5px; }
  .header .fa {
    font-size: 22px;
    font-size: 1.375rem;
    cursor: pointer; }

.logo-container,
.user-container,
.user-container > div {
  display: flex;
  flex-direction: row;
  align-items: center; }

.search {
  position: relative; }
  .search input {
    font-size: 18px;
    font-size: 1.125rem;
    background: #46494A;
    border: 1px solid #3f4545;
    border-radius: 18px;
    color: #E7EBEC;
    height: 30px;
    width: 240px;
    margin-left: 20px;
    padding: 5px 40px 5px 10px; }
  .search button {
    border: none;
    background: none;
    color: #E7EBEC;
    position: absolute;
    left: 215px;
    top: 3px; }

.user-container {
  justify-content: flex-end; }
  .user-container > div:not(.user), .user-container > table {
    margin-right: 20px; }
  .user-container > div:not(.user) {
    cursor: pointer;
    width: 45px;
    height: 45px;
    position: relative;
    text-align: center; }
    .user-container > div:not(.user) .fa {
      font-size: 26px;
      font-size: 1.625rem; }
    .user-container > div:not(.user) .badge {
      font-size: 12px;
      font-size: 0.75rem;
      position: absolute;
      left: 18px;
      top: 2px; }

.user {
  cursor: pointer;
  font-weight: bold; }
  .user .fa {
    margin-right: 0;
    color: #BEC6C8; }
  .user .username {
    margin: auto 5px; }

#news .fa:first-child {
  color: #CEC8A8; }

#my-stuff .fa:first-child {
  color: #DA6464; }

#pets .fa:first-child {
  color: #9981CF; }

#shops .fa:first-child {
  color: #5EADB5; }

#community .fa:first-child {
  color: #90C286; }

#world .fa:first-child {
  color: #52BFC2; }

#games .fa:first-child {
  color: #F0C063; }

#staff .fa:first-child {
  color: #789FBD; }

.main-nav > * {
  margin: 20px; }

.main-nav .card {
  margin: 0;
  border: none; }

.main-nav .card-header {
  background: none;
  border: none;
  padding: 20px 20px 5px; }
  .main-nav .card-header a {
    color: #40484E;
    display: block;
    text-decoration: none; }

.main-nav .card-block {
  background: #FAFBFB;
  border-top: 1px solid #D8DFE1;
  border-bottom: 1px solid #D8DFE1;
  padding: 5px 0; }
  .main-nav .card-block li a {
    font-size: 18px;
    font-size: 1.125rem;
    color: #767F86;
    display: block;
    padding: 5px 0 5px 60px;
    text-decoration: none; }

.main-nav .fa:last-child {
  color: #D8DFE1; }

main {
  padding: 20px; }

.widgets {
  padding: 20px; }
  .widgets .fa {
    color: #13C2D7; }
  .widgets .ad {
    margin: auto; }

footer {
  border-top: 1px solid #3f4545;
  text-align: center;
  padding: 20px 20px; }
  footer .ad {
    margin: auto; }

.footer-nav a {
  text-decoration: none; }

.ad {
  background: #FAFBFB;
  border: 1px solid #D8DFE1;
  border-radius: 5px; }
  header .ad, footer .ad {
    background: #46494A;
    border-color: #3f4545; }

.ad-leaderboard {
  width: 728px;
  height: 90px; }

.ad-small-rectangle {
  width: 180px;
  height: 150px; }

.ad-small-square {
  width: 200px;
  height: 200px; }
