footer {
	padding: $padding $margin;
	text-align: center;
	border-top: $border-size solid $color-secondary-border;

	.ad { margin: auto; }
}

.copyright,
.footer-nav .list {
	margin: auto;
}

.footer-nav a {
	text-decoration: none;
	color: $color-accent !important;

	&:hover {
		color: $color-accent-dim !important;
	}
}
