$chat-msg-spacing: 6px;

.chat {
	@include font-size($font-small);
	display: flex;
	flex-direction: column;
	height: 400px;
}

.chat-history {
	flex: auto;
	margin-bottom: $chat-msg-spacing;
	overflow-y: auto;

	.chat-msg:first-child { padding-top: 0; }
	.chat-msg:last-child { border: 0; }
}

.chat-msg {
	padding: $chat-msg-spacing 0;
	word-wrap: break-word;
	border-bottom: $border-size solid $color-primary-border-dim;
}

.chat-send {
	position: relative;

	input {
		width: 100%;
		height: 30px;
		padding: 0 25px 0 5px;
		color: $color-primary-text-dim;
		background: $color-primary-bg;
		border: $border-size solid $color-primary-border;
		border-radius: $border-radius;
	}

	button {
		position: absolute;
		top: 0;
		left: 150px;
		background: none;
		color: $color-primary-text-dim;
		
		&:hover > .fa:first-child { color: $color-accent; }

		.fa:first-child {
			@include font-size($font-small);
			color: $color-primary-border-dim;		
		}
	}
}

.chat-time {
	width: 40px;
	max-width: 40px;
	color: $color-primary-text-dim;
}

.chat-user { font-weight: bold; }
